:root {
  // 导航栏高度
  --va-nav-height: 50px;
  --va-nav-bg-color: #ffffff;
  // 标签栏高度
  --va-tabs-height: 34px;
  --va-tabs-bg-color: #ffffff;
  // logo容器高度
  --va-logo-height: var(--va-nav-height);
  --va-logo-bg-color: #2b2f3a;
  // 侧边栏宽度
  --va-sidebar-width: 200px;
  --va-sidebar-bg-color: #304156;
  // 内容区域  样式
  --va-main-bg-color: #f0f2f5;
  --va-padding: 20px;
  --va-border-color: #f0f2f5;
  --va-border: 1px solid var(--va-border-color);
  --va-border-radius: 5px;
  // 菜单样式
  --va-menu-bg-color: #304156;
  --va-menu-hover-bg-color: #263445;
  --va-menu-color-text: #ffffff;
  // 过渡
  --va-transition-duration: 0.25s;
  --va-transition-function-ease-in-out-bezier: cubic-bezier(0.42, 0, 0.58, 1);
  --va-transition:
    all var(--va-transition-duration) var(--va-transition-function-ease-in-out-bezier), border 0s, color 0.05s,
    font-size 0s;
}
